<mat-form-field>
  <input matInput placeholder="Nombres" [(ngModel)]="cliente.nombres">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Apellidos" [(ngModel)]="cliente.apellidos" type="text">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Fecha Nac." [(ngModel)]="cliente.fechaNac" type="text">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="DNI" [(ngModel)]="cliente.dni" type="number">
</mat-form-field>

<button mat-button onclick="document.getElementById('flArchivo').click()">Seleccionar Archivo</button>
<input id="flArchivo" type="file" (change)="selectFile($event)"  style="display:none;" >

<img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%"/>
<p>{{labelFile}}</p>

<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
